<!DOCTYPE html>

<!--CornerChat, modeled after Tutorialzine article, with modified functionality-->
<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>
	<title>Corner Chat</title>
	<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="../js/moment.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/chat.js"></script>	

</head>

<body>
	<header class="banner">
			<h1 class="bannertext">
				<img src="img/logo.png" alt="nodelogo" id="nodelogo"/>
				<a href="#" id="logo"><h1>Corner <span>Chat</span></h1></a>	
			</h1>
	</header>
	<hr>
		
		
	<div class="node">
		</br>
		<h2 id="chat">A Node.js powered web chat <!--</br></br> Made with NodeJS, Express, Gravatar, and Socket.io</h2>--></br>
	</div>
	<div align="center" id="instructions">
		<span><h1 style="margin-top: 26px;">How to Corner Chat:</h1></span></br>
		<div style="text-align: left; padding: 30px;">
		<h2>1) Enter your Alias </br></br>
		2) Get link </br></br>
		3) Send URL to friend(s)</h2></div>
	</div>
	
	
	<section>
		<div class="homesection">
			<a title="Start" href="/create" id="create">
				<div id="createbutton">
					<!--<div id="little">Create a Private</div>-->
					<div id="big">START</div>
				</div>
			</a>
		</div>
	</section>
	

	
	<!--Footer:-->    
	<div id="footer">
		<span style="float: left; padding-left: 20px;">
			<!--<a href=# id ="navhover" class="about" >About </a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-->
			
			<a href="mailto:CornerChat123@gmail.com" id ="navhover">Contact</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<!--<a href=# id ="navhover">F.A.Q.  </a>-->
		</span>
		<span style="float: right; padding-right: 50px; font-weight: 700; font-size: larger; color:rgb(240,241,243);"><!--&copy 2014 CornerChat--></span>
	</div>
</body>
</html>
